body {
    margin: 0;
    padding: 0;
    background-color: #FFF0F5; /* Un rosa muy suave de fondo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #D02090;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 20px;
    background: white;
    border-bottom: 5px solid #FF69B4;
}

h1 { margin: 0; font-size: 1.5rem; letter-spacing: 2px; }
.subtitle { font-size: 0.8rem; opacity: 0.7; }

#sketch-container {
    position: relative;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: crosshair;
}

/* Tarjetas de texto que flotan sobre el mapa */
.narrative-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que no bloqueen los clics al mapa */
}

.card {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 20px;
    border: 2px dashed #FF69B4;
    width: 200px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
    pointer-events: auto;
}

/* Posicionamiento de las tarjetas alrededor de la foto */
.card-1 { top: 10%; left: 5%; }
.card-2 { bottom: 15%; right: 10%; }
.card-3 { top: 20%; right: 5%; }

h3 { margin: 0 0 5px 0; font-size: 0.9rem; text-transform: uppercase; }
p { margin: 0; font-size: 0.85rem; line-height: 1.2; }

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.7rem;
}